.grid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 250px;
  height: 250px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted red;
}

.preview-good {
  background-color: green;
}

.preview-bad {
  background-color: yellow;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  padding: 20px;
  text-align: center;
}